{:objects
 {:metadata
  {:fields {:kixi.datastore.metadatastore/id {:type (non-null ID)}
            :kixi.datastore.metadatastore/name {:type (non-null String)}
            :kixi.datastore.metadatastore/type {:type (non-null String)}
            :kixi.datastore.metadatastore/description {:type String}
            :kixi.datastore.metadatastore/sharing {:type (non-null :sharing__matrix)}}}

  :sharing-matrix
  {:fields {:meta-read {:type (list String)
                        :resolve :get-sharing-matrix}
            :meta-update {:type (list String)
                          :resolve :get-sharing-matrix}
            :file-read {:type (list String)
                        :resolve :get-sharing-matrix}}}

  :user
  {:fields {:kixi.user/id {:type (non-null String)}}}

  :group
  {:fields {:kixi.group/id {:type (non-null String)}}}
  }

 :queries
 {:metadata {:type (non-null (list :metadata))
             :args {:kixi.datastore.metadatastore/id {:type (non-null ID)}}
             :resolve :get-metadata}
  }
 }
